@font-face {
  font-family: Comfortaa;
  src: url(fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
    font-family: ShareTechMono;
    src: url(fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf);
  }

body {
    background-color: #0A0A0A;
    color: #3FB5A0;
    font-family: Comfortaa;
    margin: 0;
    overflow: hidden;
}

#content {
    position: absolute;
    top: 3em;
    bottom: 3em;
    width: 100%;
}

#head {
    background-color: #1E1E1E;
    left: 0;
    right: 0;
    padding: 0 1em 0 1em;
    height: 3em;
    position: absolute;
    box-shadow: 0px 0px 20px;
    z-index: 1;
}
#footer {
    background-color: #1E1E1E;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em 0 1em;
    height: 3em;
    position: absolute;
    box-shadow: 0px -10px 10px #1E1E1E;
}

#user-section {
    margin-top: 0.8em;
    float: right;
    cursor: pointer;
}

#user-section-icon {
    font-size: 1.5em;
}

#user-name {
    line-height: 1.4em;
    vertical-align: bottom;
}

#head-title {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0.5em;
    float:left;
}

#head-title-img {
    width: 1em;
}

.maplibregl-ctrl-attrib {
    margin: 1em !important;
}

.dialog-container {
    position: absolute;
    top: 50%;
    margin: auto;
    width: 100%;
    transform: translateY(-50%);
}

.text-input {
    margin: 0.5em 1em 0.5em 1em;
    display: block;
    background: #0A0A0A;
    border: 1px solid #3FB5A0;
    border-right: none;
    border-top: none;
    outline: none;
    color: inherit;
    font-family: inherit;
}

.dialog-border {
    margin: auto;
    background: #0A0A0A;
    border: 2px solid #3FB5A0;
    width: fit-content;
    padding: 0;
    border-radius: 2px;
}

.dialog-title {
    margin: 0 3em 0.5em 0;
    padding: 0.5em 0 0.5em 1.5em;
    display: block;
    width: calc(100% - 1.5em);
    text-align: center;
    font-size: larger;
    background-color: #3FB5A0;
    color: #0A0A0A;
    user-select: none;
}

.dialog-content {
    width: calc(100% - 2.5em);
    padding: 0.5em;
}

.dialog-close {
    color: #0A0A0A;
    font-weight: 900;
    margin: 0.5em;
    cursor: pointer;
    border: 1px solid #0A0A0A;
    border-radius: 2px;
    height: 1em;
    width: calc(1em + 3px);
    text-align: center;
    padding-bottom: 3px;
    float: right
}

.dialog-close:hover {
    color: #3FB5A0;
    background-color: #2E2E2E;
}

#content-code {
    color: #2E2E2E;
    font-family: ShareTechMono;
    left: 0;
    top: 0;
    bottom: 1em;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    white-space: pre;
    user-select: none;
}

#content-code::after {
    content: "_";
    animation: blink 1s step-end infinite;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.map-popup > div {
    background: #0A0A0A;
    border-top-color: #0A0A0A !important;
}

.map-popup > .maplibregl-popup-tip {
    border-top-color: #0A0A0A !important;
    border-bottom-color: #0A0A0A !important;
    background: inherit;
}

.map-popup-name {
    font-size: larger;
    font-family: Comfortaa;
}

.maplibregl-popup-close-button {
    color:#3FB5A0
}

.map-popup-track-toggle {
    cursor: pointer;
    float: right;
    border: 1px solid #3FB5A0;
    border-radius: 2px;
    padding: 0 0.2em 0.2em 0.2em;
    height: 1.3em;
    background-color: #3FB5A0;
    color: #0A0A0A;
}

.map-popup-track-toggle.inactive {
    color: #3FB5A0;
    background-color: inherit;
}

#menu {
    visibility: hidden;
    position: absolute;
    right: 1em;
    top: 3em;
    z-index: 2;
    padding: 1em;
    background-color: #1E1E1E;
    box-shadow: 0px 0px 10px #3FB5A0;
}

#menu.visible {
    visibility: visible;
}

#menu > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#menu > ul > li {
    cursor: pointer;
}

#dialog-change-password {
    visibility: hidden;
}

#message-container {
    top: 4em;
    margin: 1em;
    position: absolute;
    left: 20%;
    right: 20%;
    text-align: center;
    z-index: 3;
}

.message-element {
    margin: 0.2em;
    background: #1E1E1E;
    padding: 1em;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0px 20px 20px #1E1E1E;
}

.message-icon {
    float: left;
}

.content-window-icon {
    color: black;
    position: absolute;
    padding: 0.7em;
}

.pw-change-input {
    width: 100%;
}

#content-login-text {
    padding-left: 0;
    width: 100%;
}

.eos-icons {
    font-size: inherit;
}

@keyframes blink {
    from,
    to {
      visibility: hidden;
    }
    50% {
      visibility: visible;
    }
  }