<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lutra</title>
    <link rel="icon" type="image/x-icon" href="static/img/lutra.ico">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/fonts/open-iconic-1.1.1/font/css/open-iconic.css">
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v1.2.0/maptiler-sdk.umd.min.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-sdk-js/v1.2.0/maptiler-sdk.css" rel="stylesheet" />
</head>
<body>
<div id="head">
    <div id="head-title">
        <img src="static/img/svg/logo.svg" id="head-title-img">
        <span>Lutra</span>
    </div>
    <div id="user-section" style="visibility: hidden">
        <span class="oi" data-glyph="person" aria-hidden="true"></span>
        <span id="user-name"></span>
    </div>
</div>
<div id="message-container"></div>
<div id="content">
    <script>
        function loadMap() {
            maptilersdk.config.apiKey = '{{ maptiler_apikey }}'
            map = new maptilersdk.Map({
                container: 'map',
                style: maptilersdk.MapStyle.STREETS,
                center: [0, 0],
                zoom: 5
            })
            map.setStyle(maptilersdk.MapStyle.STREETS.DARK)
        }
    </script>
    <div id="map" style="visibility: hidden"></div>
    <div id="content-login-container" class="dialog-container">
        <div id="content-login-border" class="dialog-border">
            <span class='oi content-window-icon' data-glyph='key' aria-hidden='true'></span>
            <span id="content-login-text" class="dialog-title">Log.In</span>
            <input type="text" class="text-input login-input" id="login-username" autofocus />
            <input type="password" class="text-input login-input" id="login-password" />
        </div>
    </div>
    <div id="content-code"></div>
</div>
<div id="footer">
    <p>
        Lutra v{{ version }}
    </p>
</div>
<div id="menu">
    <ul>
        <li onclick="changePw()">Change Password</li>
        <li onclick="logout()">Logout</li>
    </ul>
</div>
<div id="dialog-change-password" class="dialog-container">
    <div class="dialog-border">
        <div class="dialog-close">x</div>
        <span class='oi content-window-icon' data-glyph='lock-locked' aria-hidden='true'></span>
        <span class="dialog-title">Change.Password</span>
        <div class="dialog-content">
            <span>Old Password:</span>
            <input type="password" class="text-input pw-change-input" id="change-old-password" />
            <span>New Password:</span>
            <input type="password" class="text-input pw-change-input" id="change-password-1" />
            <span>Repeat:</span>
            <input type="password" class="text-input pw-change-input" id="change-password-2" />
        </div>
    </div>
</div>
<script src="static/script.js"></script>
</body>
</html>